body{
    font-family: 'Montserrat', sans-serif;}

    .bq{
        font-family: 'Kaushan Script', cursive;
    }
    header{
        /* background: url(../Trial/Layer_15.png) center center; */
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
     
    } 
    canvas{
        z-index: 2;
      }
    header  a{
            color: #fff !important;
        }
    header h1{
        font-family: 'Kaushan Script', cursive;
        color: #ffffff;
        font-size: 70px;
        font-weight: 400;
    }
 header h2{
        color: #ffffff;
font-family: Montserrat;
font-size: 100px;
font-weight: 700;
line-height: 140px;
    }
    h3{
        color: #333333;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
            }
    
h1{
    color: #333333;
    font-family: 'Kaushan Script', cursive;
font-size: 34px;
font-weight: 400;
}
.main-title{
    text-align: center;
    margin-top: 10%;
}
a.more{
    border: 1px solid;
    padding: 10px 20px;
    display: inline-block;
}
a.more:hover{
    text-decoration: none;
    background-color: bisque;
   
    transition: 0.2s;
}
.nav-link {
    text-transform: uppercase;
}
.nav-link:hover {
  
    color:yellow !important;
    text-decoration: underline;
    border-bottom: 2px;
    
    
}

.slider{
    background:url(../Trial/img/photo-of-orange-yellow-and-red-hello-molding-clay-954599.jpg)center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%!important;
    
    
}
 
.slider1{
    background:url(../Trial/img/grayscale-photography-of-penguin-2078475.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%!important;
}

.block-1{
    background: url(../Trial/img/pink-corded-headphones-on-pink-and-teal-wall-1037996.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%!important;
    
}
.block-1 .col-12{
        text-align: center;
    }
    
.block-1 .rectangle{
    width: 60px;
height: 3px;
background-color: #f38181;
margin: 0 auto;
margin-top: 5%;
margin-bottom: 4%;

}
.cards{
    display: flex;
    
}
.img_block {
    position: relative;
    width: 100%;
}
.overlay {
    background-image: -moz-linear-gradient( 90deg, rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s;
}
.img_block:hover .overlay {
    opacity: 1;
}
.img_block {
    transition: 0.2s;
}
.img_block:hover {
    transform: translateX(-10px) translateY(-10px);
}
.info {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin-left: -52px;
    margin-top: -32px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    font-size: 25px;
}
.img_block:hover .info {
    opacity: 1;
}
.shadow1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    opacity: 0;
    z-index: 5;
    top:0;
    left: 0;
    transform: translateX(10px) translateY(10px);
}
.img_block:hover .shadow1 {
    opacity: 1;
    transition: 0.2s;}
    .overlay img{
        width: 100%;
    }
    .greenline{
        height: 40vh;
background-color: #95e1d3;
    }
    .greenline h1{
       margin-top:10%;
        color: #ffffff;
font-family: Montserrat;
font-size: 62px;
font-weight: 700;
text-transform: uppercase;

    }
    .greenline h2{
      
        color: #ffffff;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
    }
    /* Section */
.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url("../images/devices-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: #f5f5f5 url("../images/clients-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/map-bg.jpg") center no-repeat / cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}

/* Services */

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
   
} /* We do */
.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}
.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;

    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    display: none;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/* Section */
.section__header {
    margin-bottom: 50px;
}

.section__suptitle {
    font-size: 20px;
}

.section__title {
    font-size: 24px;
}

.section__title:after {
    margin: 20px auto;
}
.cookies_alert {
    background-color: #0995ab;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    padding: 25px;
    text-align: center;
}
.cookies_alert a {
    color: #fff;
}
.cookieOK {
    background-color: #dbac12;
    padding: 5px;
}
